<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/style_home.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">
  	<img src="/css/logo1.png" alt="logo" style="width:50px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h3 class="text-center text-light">LAP</h3>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/load_form">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost/signup_random.php">Signup</a>
      </li>
    </ul>
  </div>
</nav>
	<div class="bg">
	<div class="row">
        <div class="col-md-6 text-white text-center text-md-left ml-5 mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
	    <h1 class="h1-responsive font-weight-bold mt-sm-5">Load Adjustment Portal </h1>
	    <hr class="hr-light">
	    <h6 class="mb-4 text-justify"> This is a portal where faculties of our college can adjust their "loads" with other faculty members so that no slot goes wasted and the concerned as well as the authoritative faculty is informed of the change well in advanced.</h6>
	  </div>
	</div>
</div>
<main>
  <div class="container">
    <div class="row py-5">
      
      <div class="col-md-12 text-center">
        <p></p>
      </div>      
    </div>
  </div>
</main>

    
