<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/style_load.css">
	<title>Load Adjustment</title>
</head>
<body>
	<div class="container">
		<img src="/css/logo.png">
			<form action="#">
				<h2>Load Adjustment Form</h2>
				<label class="heading">Name of HOD</label>
				<select name="HOD">
					<option value="Name 1">Name 1</option>
					<option value="Name 2">Name 2</option>
					<option value="Name 3">Name 3</option>
					<option value="Name 4">Name 4</option>
					<option value="Name 5">Name 5</option>
				</select>
				<br><br>

				<input type="text" placeholder="Day">
				<br><br>

				<label class="heading">Date</label><br>
				<input type="Date">
				<br><br>

				<input type="text" placeholder="Name of Faculty">
				<br><br>

				<input type="text" placeholder="Employee Code">
				<br><br>

				<input type="text" placeholder="Course Short Name">
				<br><br>

				<input type="text" placeholder="Name of filling in faculty">
				<br><br>

				<label class="heading">Replacement Slot Time</label>
				<select>
					<option value="9:30">9:30</option>
					<option value="10:30">10:30</option>
					<option value="11:30">11:30</option>
					<option value="1:15">1:15</option>
					<option value="2:15">2:15</option>
					<option value="3:15">3:15</option>
					<option value="4:15">4:15</option>
				</select>
				<br><br>

				<label class="heading">Type</label><br>
				<input type="radio"value="Lecture" name="type" required="">
	  			<label for="Lecture">Lecture</label><br>
	  			<input type="radio"value="Tutorial" name="type" required="">
	  			<label for="Tutorial">Tutorial</label><br>
	  			<input type="radio"value="Practical" name="type" required="">
	  			<label for="Practical">Practical</label><br>
	  			<input type="radio"value="Workshop" name="type" required="">
	  			<label for="Workshop">Workshop</label>
	  			<br><br>

	  			<label class="heading">Duration</label><br>
				<input type="radio"value="1 Hour" name="Duration" required="">
	  			<label for="1 Hour">1 Hour</label>
	  			<input type="radio"value="2 Hour" name="Duration" required="">
	  			<label for="2 Hour">2 Hour</label>
	  			<br><br>

	  			<label class="heading">Year</label><br>
				<input type="radio"value="FY" name="Year" required="">
	  			<label for="FY">FY</label>
	  			<input type="radio"value="SY" name="Year" required="">
	  			<label for="SY">SY</label>
	  			<input type="radio"value="TY" name="Year" required="">
	  			<label for="TY">TY</label>
	  			<input type="radio"value="LY" name="Year" required="">
	  			<label for="LY">LY</label>
	  			<br><br>

	  			<label class="heading">Branch</label><br>
				<input type="radio"value="CS" name="Branch" required="">
	  			<label for="CS">CS</label>
	  			<input type="radio"value="ETRX" name="Branch" required="">
	  			<label for="ETRX">ETRX</label>
	  			<input type="radio"value="EXTC" name="Branch" required="">
	  			<label for="EXTC">EXTC</label>
	  			<input type="radio"value="IT" name="Branch" required="">
	  			<label for="IT">IT</label>
	  			<input type="radio"value="MECH" name="Branch" required="">
	  			<label for="MECH">MECH</label>
	  			<br><br>

	  			<label class="heading">Division</label><br>
				<input type="radio"value="A" name="Division" required="">
	  			<label for="A">A</label><br>
	  			<input type="radio"value="B" name="Division" required="">
	  			<label for="B">B</label>
	  			<br><br>

	  			<label class="heading">Batch</label><br>
				<input type="radio"value="A1" name="Batch" required="">
	  			<label for="A1">A1</label>
	  			<input type="radio"value="A2" name="Batch" required="">
	  			<label for="A2">A2</label>
	  			<input type="radio"value="A3" name="Batch" required="">
	  			<label for="A3">A3</label>
	  			<input type="radio"value="A4" name="Batch" required="">
	  			<label for="A4">A4</label><br>
	  			<input type="radio"value="B1" name="Batch" required="">
	  			<label for="B1">B1</label>
	  			<input type="radio"value="B2" name="Batch" required="">
	  			<label for="B2">B2</label>
	  			<input type="radio"value="B3" name="Batch" required="">
	  			<label for="B3">B3</label>
	  			<input type="radio"value="B4" name="Batch" required="">
	  			<label for="B4">B4</label>

				<input type="Submit" value="Submit"></input>
				<a href="/logout">Logout</a><br><br>
			</form>
	</div>

</body>
</html>
