<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/style_load.css">
	<title>Load Adjustment</title>
</head>
<body>
	<div class="container">
		<img src="/css/logo.png">
			<form action="http://localhost/load.php" method="post">
				<h2>Load Adjustment Form</h2>
				<label class="heading">HOD: </label>
				<select id="HOD" name="HOD" onchange="func()">
					<option hidden>Select HOD</option>
					<option value="nachiket.moghe@somaiya.edu">HOD IT</option>
					<option value="keval.dk@somaiya.edu">HOD CS</option>
					<option value="dhundiraj.j@somaiya.edu">HOD EXTC</option>
					<option value="viraj.joshi@somaiya.edu">HOD ETRX</option>
					<option value="onkar.sanap@somaiya.edu">HOD MECH</option>
				</select>
				<br><br>

				<input type="text" placeholder="Day" name="Day">
				<br><br>

				<label class="heading">Date</label><br>
				<input type="Date" name="Date">
				<br><br>

				<input type="text" placeholder="Name of Faculty" name="Faculty_Name" value="<%= currentUser.firstname %> <%= currentUser.lastname %>">
				<br><br>

				<input type="text" placeholder="Employee Code" name="E_Code" value="<%= currentUser.ecode %>">
				<br><br>

				<input type="text" placeholder="Email ID" name="email1" value="<%= currentUser.email %>">
				<br><br>

				<input type="text" placeholder="Course Short Name" name="Course_Name">
				<br><br>

				<!-- <label class="heading">Filling in faculty: </label>
				<select id="fill" name="Substitute">
					<option hidden>Select the Filling in Faculty</option>
					<option hidden>Faculty 1</option>
					<option hidden>Faculty 2</option>
					<option hidden>Faculty 3</option>
					<option hidden>Faculty 4</option>
					<option hidden>Faculty 5</option>
				</select>
                <br><br>

				<input type="text" placeholder="Email ID" name="email2">
                <br><br> -->
                




                <label class="heading">Filling in faculty: </label>
				<select id="fill" name="Substitute" onchange="fillingEmail()">
					<option hidden>Select the Filling in Faculty</option>
					<option hidden>Faculty 1</option>
					<option hidden>Faculty 2</option>
					<option hidden>Faculty 3</option>
					<option hidden>Faculty 4</option>
					<option hidden>Faculty 5</option>
				</select>
                <br><br>

				<label style="font-size: 20px;" name="email2">Email of Filling in Faculty: <br><div id="createTextbox"></div></label><br><br>

				<label class="heading">Type</label><br>
				<input type="radio"value="Lecture" name="type" required="" onclick="lecture()">
	  			<label for="Lecture">Lecture</label><br>
	  			<input type="radio"value="Tutorial" name="type" required="">
	  			<label for="Tutorial">Tutorial</label><br>
	  			<input type="radio"value="Practical" name="type" required="" onclick="practical()">
	  			<label for="Practical">Practical</label><br>
	  			<input type="radio"value="Workshop" name="type" required="" onclick="workshop()">
	  			<label for="Workshop">Workshop</label>
	  			<br><br>

	  			<label class="heading">Duration</label><br>
				<input type="radio" value="1 Hour" name="Duration" required="">
	  			<label for="1 Hour">1 Hour</label>
	  			<input type="radio" value="2 Hour" name="Duration" required="">
	  			<label for="2 Hour">2 Hour</label>
				<br><br>
				  
				<label class="heading">Replacement Slot Time</label>
				<select id="slot" name="Slot" onclick="tutSlot()">
					<option hidden>Select Slot Timing</option>
					<option hidden value="9:30">9:30</option>
					<option hidden value="10:30">10:30</option>
					<option hidden value="11:30">11:30</option>
					<option hidden value="1:15">1:15</option>
					<option hidden value="2:15">2:15</option>
					<option hidden value="3:15">3:15</option>
					<option hidden value="4:15">4:15</option>
				</select>
				<br><br>

	  			<label class="heading">Year</label><br>
				<input type="radio" value="FY" name="Year" required="">
	  			<label for="FY">FY</label>
	  			<input type="radio" value="SY" name="Year" required="">
	  			<label for="SY">SY</label>
	  			<input type="radio" value="TY" name="Year" required="">
	  			<label for="TY">TY</label>
	  			<input type="radio" value="LY" name="Year" required="">
	  			<label for="LY">LY</label>
	  			<br><br>

	  			<label class="heading">Branch</label><br>
				<input type="radio" value="CS" name="Branch" required="">
	  			<label for="CS">CS</label>
	  			<input type="radio" value="ETRX" name="Branch" required="">
	  			<label for="ETRX">ETRX</label>
	  			<input type="radio" value="EXTC" name="Branch" required="">
	  			<label for="EXTC">EXTC</label>
	  			<input type="radio" value="IT" name="Branch" required="">
	  			<label for="IT">IT</label>
	  			<input type="radio" value="MECH" name="Branch" required="">
	  			<label for="MECH">MECH</label>
	  			<br><br>

	  			<label class="heading">Division</label><br>
				<input type="radio"value="A" name="Division" required="">
	  			<label for="A">A</label><br>
	  			<input type="radio"value="B" name="Division" required="">
	  			<label for="B">B</label>
	  			<br><br>

	  			<label class="heading">Batch (Not required for Lecture)</label><br>
				<input type="radio"value="A1" name="Batch" required="">
	  			<label for="A1">A1</label>
	  			<input type="radio"value="A2" name="Batch" required="">
	  			<label for="A2">A2</label>
	  			<input type="radio"value="A3" name="Batch" required="">
	  			<label for="A3">A3</label>
	  			<input type="radio"value="A4" name="Batch" required="">
	  			<label for="A4">A4</label><br>
	  			<input type="radio"value="B1" name="Batch" required="">
	  			<label for="B1">B1</label>
	  			<input type="radio"value="B2" name="Batch" required="">
	  			<label for="B2">B2</label>
	  			<input type="radio"value="B3" name="Batch" required="">
	  			<label for="B3">B3</label>
	  			<input type="radio"value="B4" name="Batch" required="">
	  			<label for="B4">B4</label>

				<input type="Submit" value="Submit"></input>
				<a href="/logout"><input type="button" value="Logout"></input></a>
			</form>
    </div>

	<script>

    	function func(){
            var x = document.getElementById('HOD').value
            var y = document.getElementById('fill')
            
            if(x === 'nachiket.moghe@somaiya.edu'){
                
                var opt1 = document.createElement('option')
                var text1 = document.createTextNode('Nachiket Moghe')
				opt1.appendChild(text1)
				opt1.setAttribute('value', 'Nachiket Moghe')
                y.replaceChild(opt1, y.childNodes[3])
                var opt2 = document.createElement('option')
                var text2 = document.createTextNode('Dhundiraj Jogalekar')
				opt2.appendChild(text2)
				opt2.setAttribute('value', 'Dhundiraj Jogalekar')
                y.replaceChild(opt2, y.childNodes[5])
                var opt3 = document.createElement('option')
                var text3 = document.createTextNode('Keval Karani')
				opt3.appendChild(text3)
				opt3.setAttribute('value', 'Keval Karani')
                y.replaceChild(opt3, y.childNodes[7])
                var opt4 = document.createElement('option')
                var text4 = document.createTextNode('Viraj Joshi')
				opt4.appendChild(text4)
				opt4.setAttribute('value', 'Viraj Joshi')
                y.replaceChild(opt4, y.childNodes[9])
                var opt5 = document.createElement('option')
                var text5 = document.createTextNode('Onkar Sanap')
				opt5.appendChild(text5)
				opt5.setAttribute('value', 'Onkar Sanap')
				y.replaceChild(opt5, y.childNodes[11])
            }

            else if(x === 'keval.dk@somaiya.edu'){
                var opt1 = document.createElement('option')
                var text1 = document.createTextNode('CS Faculty 1')
				opt1.appendChild(text1)
				opt1.setAttribute('value', 'CS Faculty 1')
                y.replaceChild(opt1, y.childNodes[3])
                var opt2 = document.createElement('option')
                var text2 = document.createTextNode('CS Faculty 2')
				opt2.appendChild(text2)
				opt2.setAttribute('value', 'CS Faculty 2')
                y.replaceChild(opt2, y.childNodes[5])
                var opt3 = document.createElement('option')
                var text3 = document.createTextNode('CS Faculty 3')
				opt3.appendChild(text3)
				opt3.setAttribute('value', 'CS Faculty 3')
                y.replaceChild(opt3, y.childNodes[7])
                var opt4 = document.createElement('option')
                var text4 = document.createTextNode('CS Faculty 4')
				opt4.appendChild(text4)
				opt4.setAttribute('value', 'CS Faculty 4')
                y.replaceChild(opt4, y.childNodes[9])
                var opt5 = document.createElement('option')
                var text5 = document.createTextNode('CS Faculty 5')
				opt5.appendChild(text5)
				opt5.setAttribute('value', 'CS Faculty 5')
                y.replaceChild(opt5, y.childNodes[11])
            }

            else if(x === 'dhundiraj.j@somaiya.edu'){
                var opt1 = document.createElement('option')
                var text1 = document.createTextNode('EXTC Faculty 1')
				opt1.appendChild(text1)
				opt1.setAttribute('value', '')
                y.replaceChild(opt1, y.childNodes[3])
                var opt2 = document.createElement('option')
                var text2 = document.createTextNode('EXTC Faculty 2')
				opt2.appendChild(text2)
				opt2.setAttribute('value', '')
                y.replaceChild(opt2, y.childNodes[5])
                var opt3 = document.createElement('option')
                var text3 = document.createTextNode('EXTC Faculty 3')
				opt3.appendChild(text3)
				opt3.setAttribute('value', '')
                y.replaceChild(opt3, y.childNodes[7])
                var opt4 = document.createElement('option')
                var text4 = document.createTextNode('EXTC Faculty 4')
				opt4.appendChild(text4)
				opt4.setAttribute('value', '')
                y.replaceChild(opt4, y.childNodes[9])
                var opt5 = document.createElement('option')
                var text5 = document.createTextNode('EXTC Faculty 5')
				opt5.appendChild(text5)
				opt5.setAttribute('value', '')
                y.replaceChild(opt5, y.childNodes[11])
            }

            else if(x === 'viraj.joshi@somaiya.edu'){
                var opt1 = document.createElement('option')
                var text1 = document.createTextNode('ETRX Faculty 1')
				opt1.appendChild(text1)
				opt1.setAttribute('value', '')
                y.replaceChild(opt1, y.childNodes[3])
                var opt2 = document.createElement('option')
                var text2 = document.createTextNode('ETRX Faculty 2')
				opt2.appendChild(text2)
				opt2.setAttribute('value', '')
                y.replaceChild(opt2, y.childNodes[5])
                var opt3 = document.createElement('option')
                var text3 = document.createTextNode('ETRX Faculty 3')
				opt3.appendChild(text3)
				opt3.setAttribute('value', '')
                y.replaceChild(opt3, y.childNodes[7])
                var opt4 = document.createElement('option')
                var text4 = document.createTextNode('ETRX Faculty 4')
				opt4.appendChild(text4)
				opt4.setAttribute('value', '')
                y.replaceChild(opt4, y.childNodes[9])
                var opt5 = document.createElement('option')
                var text5 = document.createTextNode('ETRX Faculty 5')
				opt5.appendChild(text5)
				opt5.setAttribute('value', '')
                y.replaceChild(opt5, y.childNodes[11])
            }

            else if(x === 'onkar.sanap@somaiya.edu'){
                var opt1 = document.createElement('option')
                var text1 = document.createTextNode('MECH Faculty 1')
				opt1.appendChild(text1)
				opt1.setAttribute('value', '')
                y.replaceChild(opt1, y.childNodes[3])
                var opt2 = document.createElement('option')
                var text2 = document.createTextNode('MECH Faculty 2')
				opt2.appendChild(text2)
				opt2.setAttribute('value', '')
                y.replaceChild(opt2, y.childNodes[5])
                var opt3 = document.createElement('option')
                var text3 = document.createTextNode('MECH Faculty 3')
				opt3.appendChild(text3)
				opt3.setAttribute('value', '')
                y.replaceChild(opt3, y.childNodes[7])
                var opt4 = document.createElement('option')
                var text4 = document.createTextNode('MECH Faculty 4')
				opt4.appendChild(text4)
				opt4.setAttribute('value', '')
                y.replaceChild(opt4, y.childNodes[9])
                var opt5 = document.createElement('option')
                var text5 = document.createTextNode('MECH Faculty 5')
				opt5.appendChild(text5)
				opt5.setAttribute('value', '')
                y.replaceChild(opt5, y.childNodes[11])
            }
        }
	
		function lecture() {
			// for batch
			for(i=0;i<8;i++){
				document.getElementsByName('Batch')[i].removeAttribute('required')
			}   

			// for duration
			document.getElementsByName('Duration')[1].removeAttribute('checked')
			document.getElementsByName('Duration')[0].setAttribute('checked', '')

			// for slot
			var slot = document.getElementById('slot')

			var opt1 = document.createElement('option')
			var text1 = document.createTextNode('9.30-10.30')
			opt1.appendChild(text1)
			opt1.setAttribute('value', '9.30-10.30')
			slot.replaceChild(opt1, slot.childNodes[3])

			var opt1 = document.createElement('option')
			var text1 = document.createTextNode('10.30-11.30')
			opt1.appendChild(text1)
			opt1.setAttribute('value', '10.30-11.30')
			slot.replaceChild(opt1, slot.childNodes[5])

			var opt1 = document.createElement('option')
			var text1 = document.createTextNode('11.30-12.30')
			opt1.appendChild(text1)
			opt1.setAttribute('value', '11.30-12.30')
			slot.replaceChild(opt1, slot.childNodes[7])

			var opt1 = document.createElement('option')
			var text1 = document.createTextNode('1.15-2.15')
			opt1.appendChild(text1)
			opt1.setAttribute('value', '1.15-2.15')
			slot.replaceChild(opt1, slot.childNodes[9])

			var opt1 = document.createElement('option')
			var text1 = document.createTextNode('2.15-3.15')
			opt1.appendChild(text1)
			opt1.setAttribute('value', '2.15-3.15')
			slot.replaceChild(opt1, slot.childNodes[11])

			var opt1 = document.createElement('option')
			var text1 = document.createTextNode('3.15-4.15')
			opt1.appendChild(text1)
			opt1.setAttribute('value', '3.15-4.15')
			slot.replaceChild(opt1, slot.childNodes[13])

			var opt1 = document.createElement('option')
			var text1 = document.createTextNode('4.15-5.15')
			opt1.appendChild(text1)
			opt1.setAttribute('value', '4.15-5.15')
			slot.replaceChild(opt1, slot.childNodes[15])
		}
		
		function tutSlot() {
			var slot = document.getElementById('slot')

			// for tutorial slot of one hour
			if(document.getElementsByName('type')[1].checked && 
			   document.getElementsByName('Duration')[0].checked) 
			{
				var opt1 = document.createElement('option')
				var text1 = document.createTextNode('9.30-10.30')
				opt1.appendChild(text1)
				opt1.setAttribute('value', '9.30-10.30')
				slot.replaceChild(opt1, slot.childNodes[3])

				var opt1 = document.createElement('option')
				var text1 = document.createTextNode('10.30-11.30')
				opt1.appendChild(text1)
				opt1.setAttribute('value', '10.30-11.30')
				slot.replaceChild(opt1, slot.childNodes[5])

				var opt1 = document.createElement('option')
				var text1 = document.createTextNode('11.30-12.30')
				opt1.appendChild(text1)
				opt1.setAttribute('value', '11.30-12.30')
				slot.replaceChild(opt1, slot.childNodes[7])

				var opt1 = document.createElement('option')
				var text1 = document.createTextNode('1.15-2.15')
				opt1.appendChild(text1)
				opt1.setAttribute('value', '1.15-2.15')
				slot.replaceChild(opt1, slot.childNodes[9])

				var opt1 = document.createElement('option')
				var text1 = document.createTextNode('2.15-3.15')
				opt1.appendChild(text1)
				opt1.setAttribute('value', '2.15-3.15')
				slot.replaceChild(opt1, slot.childNodes[11])

				var opt1 = document.createElement('option')
				var text1 = document.createTextNode('3.15-4.15')
				opt1.appendChild(text1)
				opt1.setAttribute('value', '3.15-4.15')
				slot.replaceChild(opt1, slot.childNodes[13])

				var opt1 = document.createElement('option')
				var text1 = document.createTextNode('4.15-5.15')
				opt1.appendChild(text1)
				opt1.setAttribute('value', '4.15-5.15')
				slot.replaceChild(opt1, slot.childNodes[15])
			}

			// for tutorial slot of two hour
			else if(document.getElementsByName('type')[1].checked && 
			   document.getElementsByName('Duration')[1].checked) 
			{
				var opt1 = document.createElement('option')
				var text1 = document.createTextNode('10.30-12.30')
				opt1.appendChild(text1)
				opt1.setAttribute('value', '10.30-12.30')
				slot.replaceChild(opt1, slot.childNodes[3])

				var opt1 = document.createElement('option')
				var text1 = document.createTextNode('1.15-3.15')
				opt1.appendChild(text1)
				opt1.setAttribute('value', '1.15-3.15')
				slot.replaceChild(opt1, slot.childNodes[5])

				var opt1 = document.createElement('option')
				var text1 = document.createTextNode('2.15-4.15')
				opt1.appendChild(text1)
				opt1.setAttribute('value', '2.15-4.15')
				slot.replaceChild(opt1, slot.childNodes[7])

				var opt1 = document.createElement('option')
				var text1 = document.createTextNode('3.15-5.15')
				opt1.appendChild(text1)
				opt1.setAttribute('value', '3.15-5.15')
				slot.replaceChild(opt1, slot.childNodes[9])

				var opt1 = document.createElement('option')
				opt1.setAttribute('hidden', '')
				slot.replaceChild(opt1, slot.childNodes[11])

				var opt1 = document.createElement('option')
				opt1.setAttribute('hidden', '')
				slot.replaceChild(opt1, slot.childNodes[13])

				var opt1 = document.createElement('option')
				opt1.setAttribute('hidden', '')
				slot.replaceChild(opt1, slot.childNodes[15])
			}
		}
		
		function practical() {
			// for duration
			document.getElementsByName('Duration')[1].setAttribute('checked', '')
			document.getElementsByName('Duration')[0].removeAttribute('checked')

			//for slot
			var slot = document.getElementById('slot')

			var opt1 = document.createElement('option')
			var text1 = document.createTextNode('10.30-12.30')
			opt1.appendChild(text1)
			opt1.setAttribute('value', '10.30-12.30')
			slot.replaceChild(opt1, slot.childNodes[3])

			var opt1 = document.createElement('option')
			var text1 = document.createTextNode('1.15-3.15')
			opt1.appendChild(text1)
			opt1.setAttribute('value', '1.15-3.15')
			slot.replaceChild(opt1, slot.childNodes[5])

			var opt1 = document.createElement('option')
			var text1 = document.createTextNode('2.15-4.15')
			opt1.appendChild(text1)
			opt1.setAttribute('value', '2.15-4.15')
			slot.replaceChild(opt1, slot.childNodes[7])

			var opt1 = document.createElement('option')
			var text1 = document.createTextNode('3.15-5.15')
			opt1.appendChild(text1)
			opt1.setAttribute('value', '3.15-5.15')
			slot.replaceChild(opt1, slot.childNodes[9])

			var opt1 = document.createElement('option')
			opt1.setAttribute('hidden', '')
			slot.replaceChild(opt1, slot.childNodes[11])

			var opt1 = document.createElement('option')
			opt1.setAttribute('hidden', '')
			slot.replaceChild(opt1, slot.childNodes[13])

			var opt1 = document.createElement('option')
			opt1.setAttribute('hidden', '')
			slot.replaceChild(opt1, slot.childNodes[15])
		}

		function workshop() {
			// for duration
			document.getElementsByName('Duration')[1].setAttribute('checked', '')
			document.getElementsByName('Duration')[0].removeAttribute('checked')

			//for slot
			var slot = document.getElementById('slot')

			var opt1 = document.createElement('option')
			var text1 = document.createTextNode('10.30-12.30')
			opt1.appendChild(text1)
			opt1.setAttribute('value', '10.30-12.30')
			slot.replaceChild(opt1, slot.childNodes[3])

			var opt1 = document.createElement('option')
			var text1 = document.createTextNode('1.15-3.15')
			opt1.appendChild(text1)
			opt1.setAttribute('value', '1.15-3.15')
			slot.replaceChild(opt1, slot.childNodes[5])

			var opt1 = document.createElement('option')
			var text1 = document.createTextNode('2.15-4.15')
			opt1.appendChild(text1)
			opt1.setAttribute('value', '2.15-4.15')
			slot.replaceChild(opt1, slot.childNodes[7])

			var opt1 = document.createElement('option')
			var text1 = document.createTextNode('3.15-5.15')
			opt1.appendChild(text1)
			opt1.setAttribute('value', '3.15-5.15')
			slot.replaceChild(opt1, slot.childNodes[9])
			
			var opt1 = document.createElement('option')
			opt1.setAttribute('hidden', '')
			slot.replaceChild(opt1, slot.childNodes[11])

			var opt1 = document.createElement('option')
			opt1.setAttribute('hidden', '')
			slot.replaceChild(opt1, slot.childNodes[13])

			var opt1 = document.createElement('option')
			opt1.setAttribute('hidden', '')
			slot.replaceChild(opt1, slot.childNodes[15])
		}
        function fillingEmail() {
            var fill = document.getElementById('fill').value
            
            if (fill === 'Nachiket Moghe'){
                createTextbox.innerHTML = createTextbox.innerHTML +"<br><input type='email' name='email2' value='nachiket.moghe@somaiya.edu'>"

            }
            else if (fill === 'Dhundiraj Jogalekar'){
                createTextbox.innerHTML = createTextbox.innerHTML +"<br><input type='email' name='email2' value='dhundiraj.j@somaiya.edu'>"

            }
            else if (fill === 'Keval Karani'){
                createTextbox.innerHTML = createTextbox.innerHTML +"<br><input type='email' name='email2' value='keval.dk@somaiya.edu'>"

            }
            else if (fill === 'Viraj Joshi'){
                createTextbox.innerHTML = createTextbox.innerHTML +"<br><input type='email' name='email2' value='viraj.joshi@somaiya.edu'>"

            }
            else if (fill === 'Onkar Sanap'){
                createTextbox.innerHTML = createTextbox.innerHTML +"<br><input type='email' name='email2' value='onkar.sanap@somaiya.edu'>"

            }
		}
	
	</script>
	</script>

</body>
</html>
