<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style_login.css">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<title>Login Form</title>
</head>
<body>
	<div class="center">
		<img src="/css/logo.png">
			<form action="/login" method="POST">
				<h2>Log In</h2>		
				<div class="h"><i class="fas fa-user"></i>	
				<input type="text" placeholder="Username" name="username" required=""></div>
				<div class="h"><i class="fas fa-lock"></i>	
				<input type="password" placeholder="Password" name="password" required=""></div>
				<input type="Submit" value="Login"></input>		
				<a href="">Forgot Password ?</a><br><br>
				<a href="/signup">Don't have an Account ? Sign up</a>
				

			</form>
	</div>
</body>
</html>