<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style_signup.css">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>SignUp Form</title>
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	</head>
	<body>
		<div class="center">
			<img src="/css/logo.png">
			<form action="/signup" method="POST">
				<h2>SignUp</h2>
				<input type="text" placeholder="Firstname" name="firstname" required="">
				<input type="text" placeholder="Lastname" name="lastname" required="">
				<input type="email" placeholder="Email ID" name="email" required="">
				<input type="text" placeholder="Username" name="username" required="">
				<input type="password" placeholder="Password" name="password" required="">
				<input type="Submit" value="SignUp"> 
			</form>

		</div>
	</body>
</html>
